$primary: #28201e;
$secondary: #ff775c;
$success: #6096ba;
$danger: #a6a8aa;
$warning: white;
$info: #ffce00;

@import "styles.scss";
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';





